<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nisaelek.servisimnerede"
    android:versionCode="2"
    android:versionName="1.2">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MesajActivity"></activity>
        <activity android:name=".DilekActivity" />
        <activity android:name=".AramaActivity" />
        <activity android:name=".UploadActivity" />
        <activity android:name=".ShareActivity" />
        <activity android:name=".AnaActivity" />
        <activity android:name=".KayitActivity" />
        <activity android:name=".TakipListesiActivity" />
        <activity android:name=".MapsActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".AyarlarActivity" />

        <service android:name=".KonumServisi" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".GirisActivity"
            android:label="Engelsiz Servis">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>